body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  display: inline-flex;
}

.side {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 10px;
  background-color: red;
}

.side-label {
  text-transform: uppercase;
  color: white;
}

.main {
  background-color: gray;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,h2 {
  margin: 0;
}

small {
  font-size: 4px;
}

.hidden {
  display: none;
}
